{% extends 'base_angular.html' %}

{% set mytitle="AngularTest1" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<!-- File: chapter2/controller-click-message.html -->
<div ng-app="notesApp">

<div ng-controller="MainCtrl as ctrl">
  {{ctrl.message}} AngularJS.

<button ng-click="ctrl.changeMessage()">
  Change Message
</button>

<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js">
</script>

<script type="text/javascript">
  angular.module('notesApp', [])
    .controller('MainCtrl', [function() {
      var self = this;
      self.message= 'Hello ';
      self.changeMessage = function() {
        self.message = 'Goodbye';
      };
  }]);
</script>

</div>

</div>

{% endblock %}

