{% extends 'base_angular.html' %}

{% set mytitle="AngularTest1" %}

{# ----------- title -------------- #}

{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}

{% block content %}

<div ng-app="myApp">

    <div ng-controller="MainController">
        Message: [[message]]
    
        <button ng-click="changeMessage()">
          Change Message
        </button>
    
    </div>

</div>


<script type="text/javascript">

(function() {

    function MainController($scope) {
        $scope.message = "Hello, Michael";

        $scope.changeMessage = function() {
            $scope.message = "Hello, Charkies";
        };
    };

    var a = angular.module("myApp", [], function($interpolateProvider) {
                $interpolateProvider.startSymbol('[[');
                $interpolateProvider.endSymbol(']]');
            }
        );
    var c = a.controller("MainController", ["$scope", MainController]);

})();

</script>
{% endblock %}

