{% extends 'base_angular.html' %}
{% set mytitle="Dangular 2" %}

{# ----------- title -------------- #}
{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}
{% block content %}

{% include 'd6.md' %}

<hr />

<div ng-app="watchApp">
    <div ng-controller="WatchController">

        <div class="row">
            <div class="col-sm-6">
                Watched variable, from controller:<br />
                <b>[[ controllerlabel ]]</b>
            </div>

            <div class="col-sm-6">
                Watched variable, from directive:<br />
                <b>[[ directivelabel ]]</b>
            </div>
        </div>

        <div class="row">
            <mydirective
            model='model'
            directivelabel='directivelabel'></mydirective>
        </div>

    </div>
</div>

<script type="text/javascript">

function WatchController($scope,$http,$interval,$timeout) {

    $scope.controllerlabel = "";
    $scope.directivelabel = "";

    // Set a watcher from the controller.
    $scope.$watch(function(){ return $scope.model; },
            function(v){ 
                $scope.controllerlabel = v; 
            });

    // Continuously change the scoped variable "model"
    var f = function() { 
        $scope.model = new Date().getTime() 
        $timeout(f, 1000);
    }
    f();

};

var mod = angular.module('watchApp',[],function($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
    }
);


var dir2 = mod.directive('mydirective', function() {

    function link(scope, element, attr) { 
        scope.$watch(function(){ return scope.model; },
            function(v){ 
                scope.directivelabel = v; 
            });
    };

    return {
        link: link,
        restrict: 'E',
        scope: { 
            directivelabel: '=',
            model: '='
        }
    }
});

var c = mod.controller("WatchController", ["$scope","$http","$interval","$timeout",WatchController]);

</script>

{% endblock %}


