{% extends 'base_angular.html' %}
{% set mytitle="Dangular 7" %}

{# ----------- title -------------- #}
{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}
{% block content %}

{% include 'd7.md' %}
<hr />

<div ng-app="myApp">

    <div ng-controller="Ctrl1">

        <p>A live-updated, dynamic donut chart:</p>

        <input type="range" style="width: 100px;" ng-model="slice.value" ng-repeat="slice in myData track by $index" />

        <p><a class="btn btn-large btn-primary" ng-click="resetstuff()">reset stuff</a> </p>
        <p><a class="btn btn-large btn-primary" ng-click="countstuff()">count stuff</a> </p>

        <donut-chart data="myData"></donut-chart>

    </div>
</div>

<script type="text/javascript">

(function() {

    function Ctrl1($scope,$http,$interval) {

        var counter = 0;

        $interval(function(){
            counter = counter + 1;
        }, 1000);

        $scope.load_data = function() {
            d3.csv('data7.csv',function(err,dat){
                if(err){throw err;}

                $scope.myData = [
                    {'value': dat[0]['W']},
                    {'value': dat[0]['L']}
                ];

                // this forces angular to check for changes in data
                $scope.$apply();

            });
        };

        $scope.countstuff = function() { 
            console.log(counter);
        };

        $scope.resetstuff = function() {
            counter = 0;
        };

        $scope.load_data();

    };

    var mod = angular.module('myApp',[],function($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        }
    );

    var dir = mod.directive('donutChart', function() {

        function link(scope, element, attr) {

            // this is where your D3 code goes

            var data = scope.data;
            var color = d3.scale.category10();

            // canvas size
            var width = 300;
            var height = 300;

            // make the SVG drawing
            var svg = d3.select(element[0]).append('svg');
            var pie = d3.layout.pie().sort(null);

            pie.value(function(d){ return d.value; });

            // arc generation
            var min = Math.min(width, height);
            var arc = d3.svg.arc()
                  .outerRadius(min / 2 * 0.9)
                  .innerRadius(min / 2 * 0.5);

            svg.attr({width: width, height: height});

            var g = svg.append('g')
                // center the donut chart
                .attr('transform', 'translate(' + width / 2 + ',' + height / 2 + ')');

            var arcs = g.selectAll('path');

            // this is added so the pie chart will listen for changes in the data
            scope.$watch('data',function(data) {
                if(!data){ return; }

                arcs = arcs.data(pie(data));
                arcs.enter().append('path')
                  .style('stroke', 'white')
                  .attr('fill', function(d, i){ return color(i) });
                arcs.exit().remove();
                arcs.attr('d', arc);

            }, true);
        }

        return {
            link: link,
            restrict: 'E',
            scope: { 
                data: '=' 
            }
        }
    });


    var c = mod.controller("Ctrl1", ["$scope","$http","$interval",Ctrl1]);
    //var c = mod.controller("Ctrl1", function($scope,$http,$interval) {
    //    $interval(function(){
    //        $http.get('donut-data-api.json').then(function(response){
    //            // your API would presumably send new data each time!
    //            var data = response.data.map(function(d){ return d * Math.random() }); $scope.donutData = data;
    //        }, function(err) { 
    //            throw err;
    //        });
    //    }, 1000);
    //});


})();

</script>

{% endblock %}

