{% extends 'base_angular.html' %}
{% set mytitle="Hanging Dangular 2" %}

{# ----------- title -------------- #}
{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}
{% block content %}

{#
{% include 'h2.md' %}
<hr />
#}

<div ng-app="myApp">

    <div ng-controller="WinsCtrl">

        <h2><b>Giants Wins</b></h2>

        <p>A live-updated, dynamic donut chart:</p>

        <p>
        <a class="btn btn-large btn-primary" ng-click="fwd()">fwd</a>
        &nbsp;&nbsp;&nbsp;
        <a class="btn btn-large btn-primary" ng-click="back()">back</a>
        </p>

        <donut-chart data="giantsWins"></donut-chart>

    </div>
</div>

<script type="text/javascript">

(function() {


    /////////////////////////
    // Controller

    function WinsCtrl($scope,$http,$interval) {

        $scope.counter = 0;
        $scope.all_data = [];

        // we load all of the giants win/loss records into memory,
        // and loop through them.
        $scope.load_data = function() {

            d3.csv('datah2.csv',function(err,dat){

                if(err){throw err;}

                all_data = [];
                dat.forEach(function(r){
                    record = {  'W' : r['W'],
                                'L' : r['L'],
                                'Yr' : r['Yr']
                            };
                    all_data.push(record);
                });

                //this.all_data = all_data;
                $scope.all_data = all_data;

                // this forces angular to check for changes in data
                $scope.$apply();

            });

        };

        $scope.fwd = function() {
            //$scope.all_data = all_data;
            if($scope.counter > 0) {
                $scope.counter -= 1;
                console.log("Fwd: "+$scope.counter);
            }
        };

        $scope.back = function() {
            //$scope.all_data = all_data;
            // always
            //if($scope.counter > 0) {
            $scope.counter += 1;
            console.log("Back: "+$scope.counter);
            //}
        };

        $scope.load_data();


        //// Interval counter counts through years
        //$interval(function(){
        //    $scope.counter += 1;
        //}, 1000);

    };



    /////////////////////////
    // Module

    var mod = angular.module('myApp',[],function($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        }
    );



    /////////////////////////
    // Directive

    var dir = mod.directive('donutChart', function() {

        function link(scope, element, attr) {

            // this is where your D3 code goes

            var data = scope.data;
            var color = d3.scale.category10();

            // canvas size
            var width = 300;
            var height = 300;

            // make the SVG drawing
            var svg = d3.select(element[0]).append('svg');
            var pie = d3.layout.pie().sort(null);

            pie.value(function(d){ return d.value; });

            // arc generation
            var min = Math.min(width, height);
            var arc = d3.svg.arc()
                  .outerRadius(min / 2 * 0.9)
                  .innerRadius(min / 2 * 0.5);

            svg.attr({width: width, height: height});

            var g = svg.append('g')
                // center the donut chart
                .attr('transform', 'translate(' + width / 2 + ',' + height / 2 + ')');

            var arcs = g.selectAll('path');

            // this is added so the pie chart will listen for changes in the data
            scope.$watch('data',function(data) {
                if(!data){ return; }

                arcs = arcs.data(pie(data));
                arcs.enter().append('path')
                  .style('stroke', 'white')
                  .attr('fill', function(d, i){ return color(i) });
                arcs.exit().remove();
                arcs.attr('d', arc);

            }, true);
        }

        return {
            link: link,
            restrict: 'E',
            scope: { 
                data: '=' 
            }
        }
    });

    var c = mod.controller("WinsCtrl", ["$scope","$http","$interval",WinsCtrl]);

    //var c = mod.controller("WinsCtrl", function($scope,$http,$interval) {
    //    $interval(function(){
    //        $http.get('donut-data-api.json').then(function(response){
    //            // your API would presumably send new data each time!
    //            var data = response.data.map(function(d){ return d * Math.random() }); $scope.donutData = data;
    //        }, function(err) { 
    //            throw err;
    //        });
    //    }, 1000);
    //});


})();

</script>

{% endblock %}

