{% extends 'base_angular.html' %}
{% set mytitle="Multi 4" %}

{# ----------- title -------------- #}
{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}
{% block content %}

{#
{% include 'm4.md' %}
#}
<hr />

<link href="{{ SITEURL }}/multi4/multi4.css" rel="stylesheet" type="text/css" >

<div ng-app="myApp">

    <div ng-controller="Ctrl1" ng-init="initialize()">

        <div class="row">

                {#
                Category Drop-Down Menu
                Plain Style 

                <p class="lead">Select first category: 
                <select ng-model="myfilter1">
                    <option value="0" selected>Pick One:</option>
                    <option value="1">Category 1</option>
                    <option value="2">Category 2</option>
                    <option value="3">Category 3</option>
                    <option value="4">Category 4</option>
                    <option value="5">Category 5</option>
                    <option value="6">Category 6</option>
                    <option value="7">Category 7</option>
                    <option value="8">Category 8</option>
                    <option value="9">Category 9</option>
                </select>
                </p>

                <p class="lead">Select second category: 
                <select ng-model="myfilter2">
                    <option value="0" selected>Pick One:</option>
                    <option value="1">Category 1</option>
                    <option value="2">Category 2</option>
                    <option value="3">Category 3</option>
                    <option value="4">Category 4</option>
                    <option value="5">Category 5</option>
                    <option value="6">Category 6</option>
                    <option value="7">Category 7</option>
                    <option value="8">Category 8</option>
                    <option value="9">Category 9</option>
                </select>
                </p>

                #}

                {#
                Category Drop-Down Menu
                Bootstrap Buttons
                #}

            <div class="col-sm-3">

                <p class="lead">Select first category: 
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Category [[myfilter1]] <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li><a ng-click="setFilter1(1)">Category 1</a></li>
                        <li><a ng-click="setFilter1(2)">Category 2</a></li>
                        <li><a ng-click="setFilter1(3)">Category 3</a></li>
                        <li><a ng-click="setFilter1(4)">Category 4</a></li>
                        <li><a ng-click="setFilter1(5)">Category 5</a></li>
                        <li><a ng-click="setFilter1(6)">Category 6</a></li>
                        <li><a ng-click="setFilter1(7)">Category 7</a></li>
                        <li><a ng-click="setFilter1(8)">Category 8</a></li>
                        <li><a ng-click="setFilter1(9)">Category 9</a></li>
                    </ul>

                </div>

            </div>

            <div class="col-sm-3">

                <p class="lead">Select second category: 
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Category [[myfilter2]] <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li><a ng-click="setFilter2(1)">Category 1</a></li>
                        <li><a ng-click="setFilter2(2)">Category 2</a></li>
                        <li><a ng-click="setFilter2(3)">Category 3</a></li>
                        <li><a ng-click="setFilter2(4)">Category 4</a></li>
                        <li><a ng-click="setFilter2(5)">Category 5</a></li>
                        <li><a ng-click="setFilter2(6)">Category 6</a></li>
                        <li><a ng-click="setFilter2(7)">Category 7</a></li>
                        <li><a ng-click="setFilter2(8)">Category 8</a></li>
                        <li><a ng-click="setFilter2(9)">Category 9</a></li>
                    </ul>

                </div>

            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <p>
                <button class="btn btn-large btn-success" ng-click="randomCombo()">
                    Generate Random Combo
                </button>
                </p>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">

                <wine 
                data="wineData" 
                filter1="myfilter1"
                filter2="myfilter2"
                selected-point="wineSelected"
                xlabel="ash"
                ylabel="ash_alcalinity">
                </wine>

            </div>

            <div class="col-sm-6">

                <wine 
                data="wineData" 
                filter1="myfilter1"
                filter2="myfilter2"
                selected-point="wineSelected"
                xlabel="flavanoids"
                ylabel="proanthocyanins">
                </wine>

            </div>

        </div>




        <div class="row">

            <div class="col-sm-6">

                <div ng-show="wineSelected">
                    <p class="lead">class: [[wineSelected.class]]</p>
                    <p>alcohol: [[wineSelected.alcohol]]</p>
                    <p>malic_acid: [[wineSelected.malic_acid]]</p>
                    <p>magnesium: [[wineSelected.magnesium]]</p>
                    <p>total_phenols: [[wineSelected.total_phenols]]</p>
                    <p>ash: [[wineSelected.ash]]</p>
                    <p>ash_alcalinity: [[wineSelected.ash_alcalinity]]</p>
                    <p>flavanoids: [[wineSelected.flavanoids]]</p>
                    <p>proanthocyanins: [[wineSelected.proanthocyanins]]</p>
                </div>

            </div>

        </div>

    </div>
</div>

<script type="text/javascript" src="{{ SITEURL }}/multi4/multi4_controller.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/multi4/multi4_module.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/multi4/multi4_directives.js"></script>

{% endblock %}

