{% extends 'base_angular.html' %}
{% set mytitle="Multi 3" %}

{# ----------- title -------------- #}
{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}
{% block content %}

{% include 'm3.md' %}
<hr />

<link href="{{ SITEURL }}/multi3/multi3.css" rel="stylesheet" type="text/css" >

<div ng-app="myApp">

    <div ng-controller="Ctrl1" ng-init="initialize()">


        <div class="row">

            <div class="col-sm-6">

                <p class="lead">Select first plot filter: 
                <select ng-model="filter1">
                    <option value="0" selected>All</option>
                    <option value="1">Category 1</option>
                    <option value="2">Category 2</option>
                    <option value="3">Category 3</option>
                </select>
                </p>

                <wine 
                data="wineData" 
                filter="filter1"
                selected-point="wineSelected"
                xlabel="alcohol"
                ylabel="malic_acid">
                </wine>


            </div>

            <div class="col-sm-6">

                <p class="lead">Select second plot filter: 
                <select ng-model="filter2">
                    <option value="0" selected>All</option>
                    <option value="1">Category 1</option>
                    <option value="2">Category 2</option>
                    <option value="3">Category 3</option>
                </select>
                </p>

                <wine 
                data="wineData" 
                filter="filter2"
                selected-point="wineSelected"
                xlabel="magnesium"
                ylabel="total_phenols">
                </wine>

            </div>

        </div>





        <div class="row">

            <div class="col-sm-6">

                <p class="lead">Select third plot filter: 
                <select ng-model="filter3">
                    <option value="0" selected>All</option>
                    <option value="1">Category 1</option>
                    <option value="2">Category 2</option>
                    <option value="3">Category 3</option>
                </select>
                </p>

                <wine 
                data="wineData" 
                filter="filter3"
                selected-point="wineSelected"
                xlabel="ash"
                ylabel="ash_alcalinity">
                </wine>


            </div>

            <div class="col-sm-6">

                <p class="lead">Select fourth plot filter: 
                <select ng-model="filter4">
                    <option value="0" selected>All</option>
                    <option value="1">Category 1</option>
                    <option value="2">Category 2</option>
                    <option value="3">Category 3</option>
                </select>
                </p>

                <wine 
                data="wineData" 
                filter="filter4"
                selected-point="wineSelected"
                xlabel="flavanoids"
                ylabel="proanthocyanins">
                </wine>

            </div>

        </div>




        <div class="row">

            <div class="col-sm-6">

                <div ng-show="wineSelected">
                    <p class="lead">class: [[wineSelected.class]]</p>
                    <p>alcohol: [[wineSelected.alcohol]]</p>
                    <p>malic_acid: [[wineSelected.malic_acid]]</p>
                    <p>magnesium: [[wineSelected.magnesium]]</p>
                    <p>total_phenols: [[wineSelected.total_phenols]]</p>
                    <p>ash: [[wineSelected.ash]]</p>
                    <p>ash_alcalinity: [[wineSelected.ash_alcalinity]]</p>
                    <p>flavanoids: [[wineSelected.flavanoids]]</p>
                    <p>proanthocyanins: [[wineSelected.proanthocyanins]]</p>
                </div>

            </div>

        </div>

    </div>
</div>

<script type="text/javascript" src="{{ SITEURL }}/multi3/multi3_controller.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/multi3/multi3_module.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/multi3/multi3_directives.js"></script>

{% endblock %}

