{% extends 'base_angular.html' %}
{% set mytitle="Multi 2" %}

{# ----------- title -------------- #}
{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}
{% block content %}

{% include 'm2.md' %}
<hr />

<link href="{{ SITEURL }}/multi2/multi2.css" rel="stylesheet" type="text/css" >

<div ng-app="myApp">

    <div ng-controller="Ctrl1">

        <p>An iris scatter plot:</p>

        <div class="scatter-container">
            <iris 
            data="irisData" 
            selected-point="irisSelected"
            xlabel="sepal_width"
            ylabel="petal_width">
            </iris>
        </div>

        <div class="scatter-container">
            <iris 
            data="irisData" 
            selected-point="irisSelected"
            xlabel="sepal_length"
            ylabel="petal_length">
            </iris>
        </div>

        <div ng-show="irisSelected">
            <p class="lead">class: [[irisSelected.class]]</p>
            <p>sepal width: [[irisSelected.sepal_width]]</p>
            <p>sepal length: [[irisSelected.sepal_length]]</p>
            <p>peal width: [[irisSelected.petal_width]]</p>
            <p>peal length: [[irisSelected.petal_length]]</p>
        </div>


    </div>
</div>

<script type="text/javascript">

(function() {

    /////////////////////////
    // Controller

    function Ctrl1($scope,$http,$interval) {

        $scope.load_data = function() {

            d3.csv('iris.csv',function(err,dat){
                if(err){throw err;}

                var irisData = [];
                dat.forEach(function(r,j){

                    r['id'] = j;
                    irisData.push(r);

                });
                $scope.irisData = irisData;

                // this forces angular to check for changes in data
                $scope.$apply();

            });
        };
        $scope.load_data();
        $scope.selectedPoint = false;
    };



    /////////////////////////
    // Module

    var mod = angular.module('myApp',[],function($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        }
    );





    /////////////////////////
    // Directive <iris>

    var dir = mod.directive('iris', function() {

        function link(scope, element, attr) {

            scope.xlabel = attr.xlabel;
            scope.ylabel = attr.ylabel;

            var el = element[0];
            var svg = d3.select(el).append('svg').attr('class','scatter');

            var w = 400;
            var h = 400;
            svg.attr({width: w, height: h});

            var xAxisG = svg.append('g').attr('class', 'x-axis');
            var yAxisG = svg.append('g').attr('class', 'y-axis');
            var points = svg.append('g').attr('class', 'points').selectAll('g.point');
            var x = d3.scale.linear();
            var y = d3.scale.linear();

            var m = 50;
            x.range([m, w - m]);
            y.range([h - m, m]);

            var xAxis = d3.svg.axis().scale(x).orient('bottom').ticks(5);
            var yAxis = d3.svg.axis().scale(y).orient('left').ticks(5);

            xAxisG.attr('transform', 'translate(' + [0, y.range()[0] + 0.5] + ')');
            yAxisG.attr('transform', 'translate(' + [x.range()[0], 0] + ')');
            update();

            scope.$watch('data', update);

            function update(){
                if(!scope.data){ return };
                var data = scope.data;

                var x_min = d3.min(data,function(d){return d[scope.xlabel];});
                var x_max = d3.max(data,function(d){return d[scope.xlabel];});
                x.domain([x_min,x_max]);

                var y_min = d3.min(data,function(d){return d[scope.ylabel];});
                var y_max = d3.max(data,function(d){return d[scope.ylabel];});
                y.domain([y_min,y_max]);

                points = points.data(data);
                points.exit().remove();
                var point = points.enter().append('g').attr('class', 'point');

                var cValue = function(d) { return d.class },
                    color = d3.scale.category10();

                // using attr(fill) instead of style(fill) 
                // allows active class to take precedence
                point.append('circle')
                  .attr('r', 5)
                  .attr('opacity',0.5)
                  .attr('fill', function(d) { return color(cValue(d)); })
                  .on({'mouseover': function(d,i){
                      scope.$apply(function(){
                        scope.selectedPoint = d;
                      });
                      d3.selectAll('circle').classed('active',function(e,j){ return i==e['id']; });
                    }
                  })
                  .on('mouseout', function(){
                      /*
                      scope.$apply(function(){
                          scope.selectedPoint = {};
                      });
                      */
                      d3.selectAll('circle').classed('active',false);
                  });

                // update the position of all the points
                points.attr('transform', function(d){
                          return 'translate(' + [x( d[scope.xlabel] ), y(d[scope.ylabel])] + ')';
                });

                xAxisG.call(xAxis);
                yAxisG.call(yAxis);

            };

        }

        return {
            link: link,
            restrict: 'E',
            scope: { 
                data: '=',
                selectedPoint: '=',
                xlabel: '=',
                ylabel: '='
            }
        }
    });

    var c = mod.controller("Ctrl1", ["$scope","$http","$interval",Ctrl1]);

})();

</script>

{% endblock %}

