{% extends 'base_angular.html' %}
{% set mytitle="Page 1" %}

{# ----------- title -------------- #}
{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}
{% block content %}

{% include 'p2.md' %}

<hr />

<link href="{{ SITEURL }}/page2/page2.css" rel="stylesheet" type="text/css" >

<div ng-app="myApp">

    <div ng-controller="Ctrl1" ng-init="initialize()">

        <div class="row">

            <div class="col-sm-6">

                <ul class="nav nav-tabs">

                    <li class="active"><a href="#home" data-toggle="tab" ng-click="goHome()">Home</a></li>
                    <li><a href="#go1" data-toggle="tab" populate1>go1</a></li>
                    <li><a href="#go2" data-toggle="tab" populate2>go2</a></li>
                    <li><a href="#go3" data-toggle="tab" populate3>go3</a></li>

                </ul>
                <br />
                <div id="myTabContent" class="tab-content">

                    <div class="tab-pane fade active in" id="home">
                        <h1>Home</h1>
                        <p>Hello world, welcome home.</p>
                    </div>

                    <div class="tab-pane fade in" id="go1">
                    </div>

                    <div class="tab-pane fade in" id="go2">
                    </div>

                    <div class="tab-pane fade in" id="go3">
                    </div>


                </div>

            </div>

        </div>

    </div>

</div>

<script type="text/javascript" src="{{ SITEURL }}/page2/page2_controller.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/page2/page2_module.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/page2/page2_directives.js"></script>


{% endblock %}

