ul.dropdown-menu li,
a.navpills { 
    cursor: pointer; 
}



.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node {
    font: 15px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}


.scatter-container {
  width: 50%;
  float: left;
  height: 400px;
}

.detail {
  width: 50%;
  float: left;
  height: 400px;
}

scatter {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  overflow: hidden;
  font-size: 10px;
}

circle {
  cursor: pointer;
}


.active circle {
  stroke: black;
  fill: red;
  opacity: 1.0;
}



.x-axis path, 
.y-axis path {
  stroke: black;
  fill: none;
}

.x-axis line, 
.y-axis line {
  stroke: black;
  fill: none;
}


