/*
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}
*/

div#year-btn-group { 
    width: 300px;
}

div#totalcount { 
    width: 300px;
}

path {
  stroke: #fff;
  stroke-width: 0.5;
  fill-rule: evenodd;
}

.dropdown-menu {
    top: auto;
}

ul.dropdown-menu li,
a.navpills { 
    cursor: pointer; 
}

.x-axis path, 
.y-axis path {
  stroke: black;
  fill: none;
}

.x-axis line, 
.y-axis line {
  stroke: black;
  fill: none;
}

