{% extends 'base_angular.html' %}
{% set mytitle="Taxes" %}

{# ----------- title -------------- #}
{% block title %}{{ mytitle }}{% endblock %}

{# ----------- content ------------- #}
{% block content %}

{#
{% include 'tax.md' %}
#}

<hr />

<link href="{{ SITEURL }}/tax/tax.css" rel="stylesheet" type="text/css" >

<div ng-app="myApp">

    <div ng-controller="Ctrl1" ng-init="initialize()">

        <div class="row">

            <div class="col-sm-3">

                <ul class="nav nav-pills nav-stacked">

                    <li><a class="navpills" id="intro" intro>Introduction</a></li>
                    <li><a class="navpills" id="categories" ng-click="create_categories_data()" categories>Categories</a></li>
                    <li><a class="navpills" id="categoriesexplorer" ng-click="create_categories_list()" categoriesexplorer>Explore Categories</a></li>

                    <li><a class="navpills" id="sunburst" sunburst>Every Category</a></li>
                    <li><a class="navpills" id="explore" explore>Explore</a></li>

                </ul>

            </div>

            <div class="col-sm-9">

                <div id="myContent">
                </div>

            </div>

        </div>

    </div>

</div>

<script type="text/javascript" src="{{ SITEURL }}/tax/tax_controller.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/tax/tax_module.js"></script>

<!-- directives -->
<script type="text/javascript" src="{{ SITEURL }}/tax/tax_directives_pages.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/tax/tax_directives_intro.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/tax/tax_directives_categories.js"></script>
<script type="text/javascript" src="{{ SITEURL }}/tax/tax_directives_categoriesexplorer.js"></script>


{% endblock %}

