
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Archimedes Pelican</title>
    <meta name="author" content="charlesreid1">


    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">


      <link href="/archimedes-pelican/favicon.png" rel="icon">



    <!--
    my CSS styles
    -->
    <link href="/archimedes-pelican/theme/css/bootstrap.css"       rel="stylesheet" type="text/css">
    <link href="/archimedes-pelican/theme/css/sandstone.css"       rel="stylesheet" type="text/css"/>
    <link href="/archimedes-pelican/theme/css/navbar.css"          rel="stylesheet" type="text/css"/>
    <link href="/archimedes-pelican/theme/css/main.css"            rel="stylesheet" type="text/css"/>
    <link href="/archimedes-pelican/theme/css/font-awesome.css"    rel="stylesheet" type="text/css"/>

    <!--
    <link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic"
          rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic"
          rel="stylesheet" type="text/css"/>
    -->


    <link href="/archimedes-pelican/theme/css/pygment.css" rel="stylesheet" type="text/css"/>

    <script src="/archimedes-pelican/theme/js/jquery.min.js"></script>
    <script src="/archimedes-pelican/theme/js/bootstrap.min.js"></script>



    <!-- map header -->

    <!-- load the leaflet library -->
    <link rel="stylesheet" href="/archimedes-pelican/theme/css/leaflet.css" />
    <script src="/archimedes-pelican/theme/js/leaflet.js"></script>
    <script src="/archimedes-pelican/theme/js/d3.js"></script>

    <!-- load my style sheet -->
    <!--
    <link rel="stylesheet" type="text/css" href="/archimedes-pelican/mapstyles.css">
    -->

    <!-- load common vars -->
    <!--
    <script src="/archimedes-pelican/common.js"></script>
    -->

    <!-- angular -->
    <script src="/archimedes-pelican/theme/js/angular.js"></script>

    <!-- end map header -->


</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--
            http://www.w3schools.com/bootstrap/bootstrap_case_navigation.asp
            -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="/archimedes-pelican/index.html" style="margin-right:20px;">Archimedes Pelican</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">

                    <li class="spacer">
                        <p>&nbsp;</p>
                    </li>


                    <li>
                        <a href="/archimedes-pelican/about.html">About</a>
                    </li>


                    <li class="spacer">
                        <p>&nbsp;</p>
                    </li>


                    <li>
                        <a href="/archimedes-pelican/index.html">All Angular Examples</a>
                    </li>


                    <li class="spacer">
                        <p>&nbsp;</p>
                    </li>


                    <!--
                    <li>
                        <a href="/archimedes-pelican/blog.html">Blog</a>
                    </li>


                    <li class="spacer">
                        <p>&nbsp;</p>
                    </li>
                    -->


                    <li>
                        <a href="/archimedes-pelican/author.html">Author</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>



<!-- Main jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1><i class="fa fa-paper-plane-o"></i>&nbsp;Archimedes Pelican</h1>
        <p>Angular.js and Pelican</p>
        <p><a class="btn btn-primary btn-lg btn-large" 
            href="/archimedes-pelican/about.html" role="button">Learn More About It &nbsp;&nbsp;&nbsp; <i class="fa fa-arrow-circle-right"></i></a></p>
    </div>
</div>


<div class="container" id="bodycontainer">


Here we visualize a 13-dimensional data set 
consisting of characteristics of 13 different
wines. This data set is a common data set for
machine learning classification algorithms.
There are three classes corresponding to three wines
from the same region of Italy.

<br />
<br />

This paticular example illustrates how to combine HTML inputs
in the form of buttons to compare classes of data against 
one another.
 
By selecting from the nine different categories with HTML buttons,
the data is automatically filtered for display.

<hr />

<link href="/archimedes-pelican/multi4/multi4.css" rel="stylesheet" type="text/css" >

<div ng-app="myApp">

    <div ng-controller="Ctrl1" ng-init="initialize()">

        <div class="row">



            <div class="col-sm-3">

                <p class="lead">Select first category: 
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Category [[myfilter1]] <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li><a ng-click="setFilter1(1)">Category 1</a></li>
                        <li><a ng-click="setFilter1(2)">Category 2</a></li>
                        <li><a ng-click="setFilter1(3)">Category 3</a></li>
                        <li><a ng-click="setFilter1(4)">Category 4</a></li>
                        <li><a ng-click="setFilter1(5)">Category 5</a></li>
                        <li><a ng-click="setFilter1(6)">Category 6</a></li>
                        <li><a ng-click="setFilter1(7)">Category 7</a></li>
                        <li><a ng-click="setFilter1(8)">Category 8</a></li>
                        <li><a ng-click="setFilter1(9)">Category 9</a></li>
                    </ul>

                </div>

            </div>

            <div class="col-sm-3">

                <p class="lead">Select second category: 
                <div class="btn-group">
                    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Category [[myfilter2]] <span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu" role="menu">
                        <li class="divider"></li>
                        <li><a ng-click="setFilter2(1)">Category 1</a></li>
                        <li><a ng-click="setFilter2(2)">Category 2</a></li>
                        <li><a ng-click="setFilter2(3)">Category 3</a></li>
                        <li><a ng-click="setFilter2(4)">Category 4</a></li>
                        <li><a ng-click="setFilter2(5)">Category 5</a></li>
                        <li><a ng-click="setFilter2(6)">Category 6</a></li>
                        <li><a ng-click="setFilter2(7)">Category 7</a></li>
                        <li><a ng-click="setFilter2(8)">Category 8</a></li>
                        <li><a ng-click="setFilter2(9)">Category 9</a></li>
                    </ul>

                </div>

            </div>

        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
                <p>
                <button class="btn btn-large btn-success" ng-click="randomCombo()">
                    Generate Random Combo
                </button>
                &nbsp;
                &nbsp;
                <button class="btn btn-large btn-success" ng-click="similarCombo()">
                    Similar Data
                </button>
                &nbsp;
                &nbsp;
                <button class="btn btn-large btn-success" ng-click="differentCombo()">
                    Dissimilar Data
                </button>
                </p>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">

                <wine 
                data="wineData" 
                filter1="myfilter1"
                filter2="myfilter2"
                selected-point="wineSelected"
                xlabel="ash"
                ylabel="ash_alcalinity">
                </wine>

            </div>

            <div class="col-sm-6">

                <wine 
                data="wineData" 
                filter1="myfilter1"
                filter2="myfilter2"
                selected-point="wineSelected"
                xlabel="flavanoids"
                ylabel="proanthocyanins">
                </wine>

            </div>

        </div>




        <div class="row">

            <div class="col-sm-6">

                <div ng-show="wineSelected">
                    <p class="lead">class: [[wineSelected.class]]</p>
                    <p>alcohol: [[wineSelected.alcohol]]</p>
                    <p>malic_acid: [[wineSelected.malic_acid]]</p>
                    <p>magnesium: [[wineSelected.magnesium]]</p>
                    <p>total_phenols: [[wineSelected.total_phenols]]</p>
                    <p>ash: [[wineSelected.ash]]</p>
                    <p>ash_alcalinity: [[wineSelected.ash_alcalinity]]</p>
                    <p>flavanoids: [[wineSelected.flavanoids]]</p>
                    <p>proanthocyanins: [[wineSelected.proanthocyanins]]</p>
                </div>

            </div>

        </div>

    </div>
</div>

<script type="text/javascript" src="/archimedes-pelican/multi4/multi4_controller.js"></script>
<script type="text/javascript" src="/archimedes-pelican/multi4/multi4_module.js"></script>
<script type="text/javascript" src="/archimedes-pelican/multi4/multi4_directives.js"></script>



</div><!--container-->

<div class="container text-center">
    <p>&nbsp;</p>
    <p>
    Made with <i class="fa fa-fire-extinguisher fa-2x"></i> by <a href="http://charlesreid1.com">charlesreid1</a>.
    </p>
    <p>&nbsp;</p>
</div>


</body>
</html>


