
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Archimedes Pelican</title>
    <meta name="author" content="charlesreid1">


    <!-- http://t.co/dKP3o1e -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1">


      <link href="/archimedes-pelican/favicon.png" rel="icon">



    <!--
    my CSS styles
    -->
    <link href="/archimedes-pelican/theme/css/bootstrap.css"       rel="stylesheet" type="text/css">
    <link href="/archimedes-pelican/theme/css/sandstone.css"       rel="stylesheet" type="text/css"/>
    <link href="/archimedes-pelican/theme/css/navbar.css"          rel="stylesheet" type="text/css"/>
    <link href="/archimedes-pelican/theme/css/main.css"            rel="stylesheet" type="text/css"/>
    <link href="/archimedes-pelican/theme/css/font-awesome.css"    rel="stylesheet" type="text/css"/>

    <!--
    <link href="//fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic"
          rel="stylesheet" type="text/css"/>
    <link href="//fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic"
          rel="stylesheet" type="text/css"/>
    -->


    <link href="/archimedes-pelican/theme/css/pygment.css" rel="stylesheet" type="text/css"/>

    <script src="/archimedes-pelican/theme/js/jquery.min.js"></script>
    <script src="/archimedes-pelican/theme/js/bootstrap.min.js"></script>



    <!-- leaflet -->
    <link  href="/archimedes-pelican/theme/css/leaflet.css" rel="stylesheet" stype="text/css" />
    <script src="/archimedes-pelican/theme/js/leaflet.js" type="text/javascript"></script>

    <!-- D3 -->
    <script src="/archimedes-pelican/theme/js/d3.js" type="text/javascript"></script>

    <!-- angular -->
    <script src="/archimedes-pelican/theme/js/angular.js"></script>

    <!-- fullPage -->
    <!--
    <link  href="/archimedes-pelican/theme/css/jquery.fullPage.css" rel="stylesheet" stype="text/css" />
    <script src="/archimedes-pelican/theme/js/jquery.fullPage.js" type="text/javascript"></script>
    -->

    <!-- my style sheet -->
    <!--
    <link rel="stylesheet" type="text/css" href="/archimedes-pelican/mapstyles.css">
    -->

    <!-- common vars -->
    <!--
    <script src="/archimedes-pelican/common.js"></script>
    -->


</head>

<body>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--
            http://www.w3schools.com/bootstrap/bootstrap_case_navigation.asp
            -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="/archimedes-pelican/index.html" style="margin-right:20px;">Archimedes Pelican</a>
        </div>
        <div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">

                    <li class="spacer">
                        <p>&nbsp;</p>
                    </li>


                    <li>
                        <a href="/archimedes-pelican/about.html">About</a>
                    </li>


                    <li class="spacer">
                        <p>&nbsp;</p>
                    </li>


                    <li>
                        <a href="/archimedes-pelican/index.html">All Angular Examples</a>
                    </li>


                    <li class="spacer">
                        <p>&nbsp;</p>
                    </li>


                    <!--
                    <li>
                        <a href="/archimedes-pelican/blog.html">Blog</a>
                    </li>


                    <li class="spacer">
                        <p>&nbsp;</p>
                    </li>
                    -->


                    <li>
                        <a href="/archimedes-pelican/author.html">Author</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</nav>


<!-- Main jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1><i class="fa fa-paper-plane-o"></i>&nbsp;Archimedes Pelican</h1>
        <p>Angular.js and Pelican</p>
        <p><a class="btn btn-primary btn-lg btn-large" 
            href="/archimedes-pelican/about.html" role="button">Learn More About It &nbsp;&nbsp;&nbsp; <i class="fa fa-arrow-circle-right"></i></a></p>
    </div>
</div>


<div class="container" id="bodycontainer">


This Dangular example adds the ability to push and pop elements 
of the data array, which in turn controls the pie chart.

The controller begins by initializing the data array.
Agnular then loops over each element of this array,
and creates an HTML inptu widget for each array value.
Each input widget is linked to the array value.

Next we create buttons that are linked to various
actions on the controller - reset, push, and pop.
Each of these modifies our array of data.

We then create our Angular directive, which utilizes the 
data to draw a pie chart with D3. This is using the 
same array of data that is linked to our HTML input widgets,
and the same array of data that is being manipulated
when we click the buttons on the page.
<hr />

<div ng-app="myApp">

    <div ng-controller="Ctrl1">

        <p>A dynamic donut chart:</p>

        <input type="range" style="width: 100px;" ng-model="slice.value" ng-repeat="slice in myData track by $index" />

        <p><a class="btn btn-large btn-primary" ng-click="dostuff()">reset stuff</a> </p>
        <p><a class="btn btn-large btn-primary" ng-click="pushstuff()">push stuff</a> </p>
        <p><a class="btn btn-large btn-primary" ng-click="popstuff()">pop stuff</a> </p>

        <donut-chart data="myData"></donut-chart>

    </div>
</div>

<script type="text/javascript">

(function() {

    function Ctrl1($scope) {

        $scope.myData = [
            { 'value' : 10 },
            { 'value' : 20 },
            { 'value' : 70 }
        ];

        $scope.dostuff = function() {
            console.log("Doing stuff");
            $scope.myData = [
                { 'value' : 10},
                { 'value' : 20},
                { 'value' : 70}
            ];
        };
        $scope.pushstuff = function() {
            console.log("pushing stuff");
            $scope.myData.push( {'value':20} );
        };
        $scope.popstuff = function() {
            $scope.myData.pop();
        };
    };

    var mod = angular.module('myApp',[],function($interpolateProvider) {
            $interpolateProvider.startSymbol('[[');
            $interpolateProvider.endSymbol(']]');
        }
    );

    var dir = mod.directive('donutChart', function() {

        function link(scope, element, attr) {

            // this is where your D3 code goes

            var data = scope.data;
            var color = d3.scale.category10();

            // canvas size
            var width = 300;
            var height = 300;

            // make the SVG drawing
            var svg = d3.select(element[0]).append('svg');
            var pie = d3.layout.pie().sort(null);

            pie.value(function(d){ return d.value; });

            // arc generation
            var min = Math.min(width, height);
            var arc = d3.svg.arc()
                  .outerRadius(min / 2 * 0.9)
                  .innerRadius(min / 2 * 0.5);

            svg.attr({width: width, height: height});

            var g = svg.append('g')
                // center the donut chart
                .attr('transform', 'translate(' + width / 2 + ',' + height / 2 + ')');

            var arcs = g.selectAll('path');

            // this is added so the pie chart will listen for changes in the data
            scope.$watch('data',function(data) {

                arcs = arcs.data(pie(data));

                arcs.enter().append('path')
                  .style('stroke', 'white')
                  .attr('fill', function(d, i){ return color(i) });

                arcs.exit().remove();
                arcs.attr('d', arc);

            }, true);



        }

        return {
            link: link,
            restrict: 'E',
            scope: { 
                data: '=' 
            }
        }
    });

    var c = mod.controller("Ctrl1", ["$scope", Ctrl1]);

})();

</script>



</div><!--container-->

<div class="container text-center">
    <p>&nbsp;</p>
    <p>
    Made with <i class="fa fa-fire-extinguisher fa-2x"></i> by <a href="http://charlesreid1.com">charlesreid1</a>.
    </p>
    <p>&nbsp;</p>
</div>


</body>
</html>


