<div class="panel panel-primary">
    <div class="panel-heading">

        <header>
            {% if index %}
                <h3 class="panel-title">
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title|striptags }}</a>
                </h3>
            {% else %}
                <h3 class="panel-title">
                {{ article.title|striptags }}
                </h3>
            {% endif %}
        </header>

    </div>
    <div class="panel-body">

        {% if index %}
          <div class="entry-content">{{ article.summary }}</div>
          {% if article.summary != article.content %}
          <footer>
            <a rel="full-article" href="{{ SITEURL }}/{{ article.url }}">Read On &crarr;</a>
          </footer>
          {% endif %}
        {% else %}
          <div class="entry-content">{{ article.content }}</div>
        {% endif %}

        <br />
        <br />
    
        <i>
        Article Posted: {% include '_includes/article_time.html' %}
        </i>

    </div>

</div>

