{#
all pages have the jumbotron. uniform look and feel.
#}

<!-- Main jumbotron -->
<div class="jumbotron">
    <div class="container">
        <h1><i class="fa fa-leaf"></i>&nbsp;{{ SITENAME }}</h1>
        <!--
        <h1>{{ SITENAME }}&nbsp;<i class="fa fa-leaf"></i></h1>
        -->
        <p>{{ SITETAGLINE }}</p>
        <p><a class="btn btn-info btn-lg btn-large" 
            href="{{ SITEURL }}/about.html" role="button">Learn More About It &nbsp;&nbsp;&nbsp; <i class="fa fa-arrow-circle-right"></i></a></p>
    </div>
</div>

