{% extends '_includes/master_head.html' %}
{% block extra_header %}

    <!-- map header -->

    <!-- load the leaflet library -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/leaflet.css" />
    <script src="{{ SITEURL }}/theme/js/leaflet.js"></script>
    <script src="{{ SITEURL }}/theme/js/d3.js"></script>

    <!-- load my style sheet -->
    <!--
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/mapstyles.css">
    -->

    <!-- load common vars -->
    <!--
    <script src="{{ SITEURL }}/common.js"></script>
    -->

    <!-- angular -->
    <script src="{{ SITEURL }}/theme/js/angular.js"></script>

    <!-- end map header -->

{% endblock %}

