{% extends '_includes/master_head.html' %}
{% block extra_header %}

    <!-- leaflet -->
    <!--
    <link  href="{{ SITEURL }}/theme/css/leaflet.css" rel="stylesheet" stype="text/css" />
    <script src="{{ SITEURL }}/theme/js/leaflet.js" type="text/javascript"></script>
    -->

    <!-- D3 -->
    <script src="{{ SITEURL }}/theme/js/d3.js" type="text/javascript"></script>
    <!--
    <script src="//d3js.org/d3.v3.min.js" type="text/javascript"></script>
    -->

    <!-- angular -->
    <script src="{{ SITEURL }}/theme/js/angular.js"></script>

    <!-- angular ui bootstrap -->
    <!--
    <script src="{{ SITEURL }}/theme/js/angular.bootstrap.ui.js"></script>
    -->

    <!-- fullPage -->
    <!--
    <link  href="{{ SITEURL }}/theme/css/jquery.fullPage.css" rel="stylesheet" stype="text/css" />
    <script src="{{ SITEURL }}/theme/js/jquery.fullPage.js" type="text/javascript"></script>
    -->

    <!-- my style sheet -->
    <!--
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/mapstyles.css">
    -->

    <!-- common vars -->
    <!--
    <script src="{{ SITEURL }}/common.js"></script>
    -->

{% endblock %}
