{% extends '_includes/master_head.html' %}
{% block extra_header %}

    <!-- map header -->

	<!-- load the leaflet library -->
    <!--
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" />
    <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    -->
    <link rel="stylesheet" href="leaflet.css" />
    <script src="leaflet.js"></script>

	<!-- load my style sheet -->
    <link rel="stylesheet" type="text/css" href="{{ SITEURL }}/mapstyles.css">

	<!-- load common vars -->
    <script src="{{ SITEURL }}/common.js"></script>

    <!-- angular -->
    <script src="{{ SITEURL }}/angular.js"></script>

    <!-- end map header -->

{% endblock %}

